:root {
  --light-grey: #f5f6f7;
  --dark-green: #1b4d3e;
  --fcc-green: #139c50;
  --light-green: #7bde46; 
  --dark-yellow: #a1b547;
  --light-pink: #ffadad; 
  --dark-red: #850000;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: var(--fcc-green);
  color: var(--light-grey);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  background-color: var(--dark-green);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: var(--light-green);
}

.input-container {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: var(--light-green);
  margin-bottom: 8px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: var(--light-green);
  color: var(--dark-green);
}

button {
  cursor: pointer;
  background-color: var(--light-green);
  color: var(--dark-green);
  border: 2px solid var(--dark-yellow);
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin: 5px;
}

button:hover {
  background-color: var(--dark-yellow);
  color: var(--dark-green);
}

.output {
  border: 2px solid var(--light-grey);
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
  width: 90%;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-pink);
}

.deficit {
  color: var(--light-green);
}
